%h1 Welcome#index
%p
  = link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam'

%h2
  USERS
= image_tag current_user.image_url rescue nil
= link_to current_user.nickname, current_user.steam_metadata.profile_url rescue nil
%br
= link_to "Sign out", destroy_user_session_path, method: :delete
= link_to "Sign in", new_user_session_path
= link_to "Sign up", new_user_registration_path

%br
Match list!

%ul
  - @matchlist.each do |match|
    %li
      = Date.strptime(match['start_time'].to_s, '%s').to_s + " / " + match['match_id'].to_s


%h2 Player stats

%ul
  - @players.each do |player|
    %li
      Hero:
      = get_hero_name(player["hero_id"])
      Kills:
      = player["kills"]
      Deaths:
      = player["deaths"]
      Assists:
      = player["assists"]
      Denies:
      = player["denies"]
      Gold / min
      = player["gold_per_min"]
      Xp / min
      = player["xp_per_min"]
      Level
      = player["level"]
      Items --->
      - 0.upto(5) do |i|
        = get_item_name(player["item_#{i}"])
