!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    .row
      .twelve-columns
        - if user_signed_in? && current_user.steam_user == true
          Steam user
        - elsif user_signed_in?
          Devise user
        .notice= notice
        .alert= alert
        = yield

    = javascript_include_tag "application"
